.response-font{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 2vw;
}

.info{
  position: absolute;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style:normal;
  font-size: 50px;
  align-self: flex-end;
  border: 0;
  background: transparent;
  margin-right:1%;
  color:white;
  cursor: pointer;
}

.title{
margin-bottom: 0;
color: azure;
}

.game-font{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color: azure;
}


.App {
  display: flex;
  flex-direction: column;

}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%
}

.overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  z-index: -1;
}





video{
  height:100%;
  justify-content: center;
  object-fit: cover;
  align-self: center;
  position:fixed;
  z-index: -2; 
  width: 100%
}

.textbox{
  margin-bottom: 5px;
  height: 40px;
  width: 200px;
  border-radius: 999px;
  text-align: center;
  margin-top: 10px;
  border: 0;
  color: black;
  background-color: azure;
}

.mask1 {
  mask-image: linear-gradient(to bottom, black 70%, transparent);
}


.game{
padding-bottom: 5px;
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: azure;
z-index: 1; 
}



.box{
  flex-direction: column;
  overflow: scroll;
  min-height: 100px;
  max-height: 100px;
  min-width: 200px;
  max-width: 200px;
  color: black;
}

.button{
min-width: 250px;
min-height: 50px;
border-radius: 9999px;
align-self: center;
margin-bottom: 2%;
margin-top: .5%;
cursor: pointer;
border: 0;
color: black;
background-color: azure;
}

.buttons{
  align-self: center;
  margin: 2%;
  cursor: pointer;
  width:96%;
  border-radius: 999px;
  border: 0;
  color: black;
  background-color: azure;
  }

.box::-webkit-scrollbar {
  flex-direction: column;
  display: none; /* Chrome, Safari */
}

.response{
  display: flex;
  flex-direction: row;
  margin:auto;
  gap: 2vw;  
  
}
.response-container{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  overflow: scroll;
  max-height: 46vh;
  min-width: 100vw;

}


.response-container::-webkit-scrollbar {
  flex-direction: column;
  display: none; /* Chrome, Safari */
}

.response-box{
  background-color: rgb(212, 212, 212);
  min-width: 14vw;
  max-width: 14vw;
  min-height: 7vw;
  max-height: 7vw;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  /* box-shadow: 0px 0px 10px 2px; */
  
}

.correct{
  background-color: rgb(0, 202, 13);
}
.incorrect{
  background-color: rgb(218, 107, 107);
}

.close{
  background-color: rgb(255, 255, 112);
}

.rise{
  z-index: 99999;
}
video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -3; /* Behind your content */
}

.response-header{
  min-width: 14vw;
  max-width: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  color: aliceblue;
  margin-bottom: 10px;

}

.header-container{
display: flex;
flex-direction: row;
justify-content: center;
gap: 2vw;  
}

.bigger-font{
  font-size:4.5vw;
}