.App {
  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  z-index: -1;
}



video{
  height:100%;
  justify-content: center;
  object-fit: cover;
  align-self: center;
  position:fixed;
  z-index: -2; 
}

.game{

margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: azure;
z-index: 1; 
}



.box{
  flex-direction: column;
  overflow: scroll;
  min-height: 200px;
  max-height: 200px;
  min-width: 200px;
  max-width: 200px;
  color: black;
}

.button{
max-width: 10px;
}



.box::-webkit-scrollbar {
  flex-direction: column;
  display: none; /* Chrome, Safari */
}

.response{
  display: flex;
  flex-direction: row;
  width: 10%;
  overflow: visible;
}
.response-container{
  display: flex;
  flex-direction: column;
  overflow: visible;
}
.response-box{
  background-color: aqua;
  margin-right: 10%;
}